*{
    margin: 0;
    padding: 0;
}
/* pc端样式 */
#nav{
    height: 58px;
    background-color: #1a1a1a;
}
.nav{
    width: 91%;
    height: 100%;
    line-height: 58px;
    margin: 0 auto;
}
.nav .logo img{
    display: block;
    width: 126px;
    height: 40px;
    margin-top: 9px;
}
.nav_list ul li{
    float: left;
    font-size: 14px;
    margin: 0 11px;
}
.nav_list ul li a{
    color: #fff;
}
.nav_list ul li a:hover{
    color: #487AF6;
}
.nav_icon a{
    display: block;
    width: 30px;
    height: 30px;
    color: #fff;
    margin-top: 15px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    background: #487AF6;
}



/* 移动端样式 */
#xs_nav{
    height: 58px;
    background-color: #1a1a1a;
}
.xs_nav{
    width: 99%;
    color: #fff;
    line-height: 58px;
    margin: 0 auto;
}
.xs_nav_list{
    width: 110%;
    z-index: 2;
    position: relative;
    left: -17px;
    background: #1a1a1a;
    color: #fff;
}
.xs_nav_list dd a{
    color: #fff;

}